{
    "root": true, // fichier de conf à la racine du projet
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module", // module pour supporter import et export
      "parser": "babel-eslint" // ecosysteme de javascript
    },
    "env": {
      "browser": true,
      "es6": true
    },
    "extends": [
      "eslint:recommended" // pour spécifier des rulesets
    ],
    "rules": {
        "eqeqeq": "warn", // avertissement si opérateur d'égalité non stricte
        "indent": ["warn", 2, { "SwitchCase": 1 }], // avertissement si code pas indenté avec 2 espaces
        "multiline-ternary": ["warn", "always-multiline"],
        "no-unused-vars": "off",
        "no-undef": "off"
      }
  }